.display{
	display: none;
}
/*头部*/
.head{
	background: #061f33;
}
.head p{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.head li{
	line-height: 55px;
	float: left;
	color: white;
	font-weight: bolder;
	font-size: 18px;
	margin-left: 4%;
}
.head li a,.head li a:visited{
	color: white;
}
.nav li a:hover{
	background: #061f33;
	color: red;
}
/*二级菜单栏*/
.head-m{
	background: #222a35;
	margin-top: 75px;
}
.head-m ul{
	margin-bottom: 0px;
}
.head-m li{
	line-height: 35px;
	font-size: 16px;
	margin-right: 7%;	
}
.head-m li a,.head-m li a:visited{
	color: #b1bcce;
}
.head-m input{
	padding: 5px 5px;
	float: left;
}
.head-m ul a,.head-m ul a:visited{
	color: #b1bcce;
	text-decoration: none;
}
.head-m ul a:hover{
	color: orangered;
}
.search{
	float: left;
}
/*轮播*/
.slide-box{
	padding: 0px;
	background: #282828;
}
.card-head a:link,.card-head a:visited{
	color: white;
	text-decoration: none;
	text-shadow: 0.1em 0.1em 0.05em black
}
.card-head a:hover{
	font-weight: bold;
}
.buleline{
	width: 50%;
    height: 5px;
    background: #366df0;
}
.text-detial{
	width: 300px;
	line-height: 30px;
	margin-top: 3%;
}
.text-detial a:link,.text-detial a:visited{
	color: black;
	text-decoration: none;
}
.but-eye{
	background: url(../img/baike/star_icon.png) -50px 12px no-repeat;
	display: block;
	height: 40px;
	margin-top: 5%;
	float: right;
}
.but-eye a{
	padding-left: 40px;
	padding-right: 10px;
	font-size: 18px;
}
.but-eye a:link,.but-eye a:visited{
	color: white;
	text-decoration: none;
}
.but-eye a: hover{
	
}
/*时间轴*/
.main{
	margin-top: 5%;
}

.main h3{
	margin-bottom: 50px;
}
.batman{
	background: url(../img/baike/star_icon.png) no-repeat -391px 0;
	color: #999999;
	font-size: 12px;
	padding: 5px 20px;
}
/*.card-big .hero-card {
	min-width:300px;
}*/
.card{
	border-left: 1px solid #c4c4c4;
	margin-left: 4px;
}


.bianfu{
	margin-left: 20px;
	font-size: 22px;
	font-weight: bolder;
	padding: 20px 0;
}
.bianfu a:link,.bianfu a:visited{
		color: black;
		text-decoration: none;
}
.bianfu a:hover{
	color: blue;
}
.b-detail{
	margin-left: 20px;
	line-height: 25px;
}
.b-detail a:link,.b-detail a:visited{
	color: #666;
	font-size: 15px;
	text-decoration: none;
}
.bianfu-pho{
	margin-left: 20px;
	padding-top: 20px;
	padding-bottom: 40px;
}
.superman{
	margin-top: 10px;
}

/*图头*/

.hero-p{
	position: relative;
}

/*英雄卡片*/
.hero-card{
	margin-left: 2z%;
}


.grid {
	/*padding: 20px 20px 10px 20px;*/
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 97%;
	margin: 0;
	padding: 3%;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}
/* Caption Style 5 */
.cs-style-5 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-5 figure:hover img,
.cs-style-5 figure.cs-hover img {
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	-ms-transform: scale(0.4);
	transform: scale(0.4);
}

.cs-style-5 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.no-touch .cs-style-5 figure:hover figcaption,
.cs-style-5 figure.cs-hover figcaption {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.cs-style-5 figure a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/*团队*/
.team{
	margin-top: 8%;
}
.hero-pho1{
	padding-left: 5%;
}
.team-text{
	background: url(../img/baike/blackBg.png) repeat;
	width: 90%;
	position: relative;
	left: 5%;
	margin-top: -10%;
	margin-bottom: 10%;
}
.team-head{
	font-size: 32px;
	padding: 3% 4%;
	width: 40%;
}
.team-head a:link,.team-head span a:visited{
	color: white;line-height: 40px;
	text-decoration: none;
}
.team-link {
	width: 60%;
	display: inline;
	float: left;
}
.link-text{
	width: 100%;
}
.link-text p{
	line-height: 25px;
	padding: 0 5% 4% 5%;
	font-size: 13px;
}




/*尾部*/
.footer{padding-top: 40px;margin-top: 100px;background:#061f33 ;}
.footer-2{position: relative;display: inline-block;padding-top: 40px;}
#src2{
	overflow: hidden;  
    height: 44px;
    border: solid 1px ;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    outline: none;
    padding-left: 20px;
    font-size: 18px;
    width: 130px;
    margin-top: 5px;
    margin-left: 20px;
    }
.btn-search2 {width: 46px;height: 46px;display: block;text-align: center;background:url(../../img/baike/ele.png) 0px -85px;margin-top: 5px;}

.btn-search2{position: absolute;left: 130px;z-index: 100;cursor: pointer;}
#movie{margin: 0px;padding: 0;}
#movie li{margin-top: 5px;}
#movie li a{padding-left: 5px;color: #5f5f6e;text-decoration: none;font-size: 15px;}
#movie li a:hover{color: white;}

.footer-3{margin-top: 30px;}
h2{color: white;text-align: center;font-size: 18px;}
.line{line-height: 40px;}

.footer-4{margin-top: 30px;text-align: center;}
.bottom{border-top: 1px solid #5f5f6e;}
.a p{
	padding-top: 2%;
}
.a a{color:#5f5f6e ;text-decoration: none;;}
.a a:hover{color: white;}
